[defaults]
# 主机清单文件路径
inventory = ./inventory

# SSH 连接用户（全局默认）
remote_user = alice

# 私钥文件（免密登录）
private_key_file = ~/.ssh/id_rsa  

# 关闭首次连接主机密钥检查
host_key_checking = False

# 并行执行任务数
forks = 20


# 日志文件路径
log_path = /home/alice/ansible.log

# 关闭事实收集（如不需要可提升速度）
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /home/alice/ansible_facts
fact_caching_timeout = 86400

[privilege_escalation]
# 开启提权
become = True
# 提权方法为 sudo
become_method = sudo
# 提权后用户
become_user = root
# 免密提权（需配合被控节点 NOPASSWD 配置）
become_ask_pass = False

[ssh_connection]
# SSH 连接复用，加速多次连接
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
